# PHP dependencies
/vendor/

# Environment variables
.env
.env.local
.env.testing

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
/logs/
*.log

# PHPUnit
.phpunit.result.cache
/coverage/

# Docker
.docker/

.phpunit.cache/

# SonarQube scanner cache
.scannerwork/

token.txt
issues.json
TODO.md